
/* Fix button glow */
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

/* SHERPA!! */

#sherpa-header2{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#sherpa-content2{
    background-color: black;
    color: white;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    padding:5px;
    font-size:2em;
}

#sherpa-header{
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-weight:600;
    width: 150px;
    text-align: center;
}

#sherpa-header #second_row{
    font-size: 1.3em;
}
#sherpa-header #first_row{
    font-size: 1em;
}

#atlas_nav {
    position: absolute;
    top: 0;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

#atlas_left {
    display: flex;
    align-items: center;
}

#atlas_middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#atlas_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#atlas_nav #db_title {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#atlas_nav #first_row{
    font-weight:600;
    font-size: 1em;
}

#atlas_nav #second_row{
    font-weight:600;
    font-size: 1.3em;
}

/* Style The header Buttons */
#atlas_nav .header-button {
    margin-right: 3px;
}

/* Links inside the dropdown */
#atlas_nav #idForm .idvalue {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
#atlas_nav #idForm .form-row:hover {background-color: #f1f1f1}

#atlas_nav .col-form-label {
    font-size: 1rem;
    padding: 3px;
}

/* add shadow to modal */
#atlas_nav .modal-content{
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}