
/* Fix button glow */
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

/* SHERPA!! */


#atlas_nav #db_title {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#atlas_nav #db_title div:nth-child(1){
    font-weight:600;
    font-size: 1em;
}

#atlas_nav #db_title div:nth-child(2){
    font-weight:600;
    font-size: 1.3em;
}

/* Style The header Buttons */
#atlas_nav .header-button {
    margin-right: 3px;
}

/* Links inside the dropdown */
#atlas_nav #idForm .idvalue {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
#atlas_nav #idForm .form-row:hover {background-color: #f1f1f1}

#atlas_nav .col-form-label {
    font-size: 1rem;
    padding: 3px;
}

/* add shadow to modal */
#atlas_nav .modal-content{
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/* run as user */
#atlas_nav select:required:invalid {
  color: gray;
}
#atlas_nav option[value=""][disabled] {
  display: none;
}
#atlas_nav option {
  color: black;
}

/* drop down */
/* The container <div> - needed to position the dropdown content */
.hover-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.hover-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#sherpa_dropdown_content .dropdown-menu{
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
